body {
  background-color: #dcdef4;
  background-image: "../assets/pastel_background.jpg";
}

h1 {
  margin: 0 auto;
  text-align: center;
}

.canvas_wrapper_div {
  border: 1px solid black;
  width: 400px;
  height: 400px;
  display: block;
  position: relative;
  margin: 0 auto;
  background-color: white;
}

.color_box {
  border: 1px solid black;
  width: 1.5em;
  height: 1.5em;
}

.red_bg {
  background-color: red;
}

.black_bg {
  background-color: black;
}

.green_bg {
  background-color: rgb(6, 150, 51);
}

.blue_bg {
  background-color: rgb(31, 10, 188);
}

.yellow_bg {
  background-color: yellow;
}

.orange_bg {
  background-color: orange;
}

.color_box_wrapper {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10%;
  width: 100%;
  grid-row-gap: 0.5em;
}

.circle {
  background-color: black; /* Optional: Add a background color to make it visible */
  border-radius: 50%; /* This makes it a circle */
}

.small_circle {
  width: 10px;
  height: 10px;
}

.big_circle {
  width: 25px;
  height: 25px;
}

.eraser_wrapper {
  width: 50px;
  margin-left: 20%;
}

.trash_can {
  max-width: 100%;
  height: auto;
}

.draw_tools_wrapper {
  margin: 0 auto;
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
}

.row_break {
  width: 100%;
}

.brushes_wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.sw_button {
  cursor: pointer;
}

.chat_box_wrapper {
  border: 1px solid black;
  width: 400px;
  height: 400px;
}

#canvas-and-chat-wrapper-div {
  display: flex;
}

#chat-wrapper {
  border: 1px solid black;
  width: 200px;
  height: 200px;
}
