.canvas_wrapper_div {
  border: 1px solid black;
  width: 400px;
  height: 400px;
  display: block;
  position: relative;
  margin-left: 400px;
  margin-right: 50px;
}

.color_box {
  border: 1px solid black;
  width: 35px;
  height: 35px;
  margin-left: 500px;
  margin-top: 5px;
}

.red_bg {
  background-color: red;
}

.black_bg {
  background-color: black;
}

.green_bg {
  background-color: rgb(6, 150, 51);
}

.color_box_wrapper {
  margin-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  height: 90px;
  border: 1px solid black;
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two equal columns */
  grid-template-rows: auto auto; /* Two rows */
  gap: 10px;
}

.circle {
  background-color: black; /* Optional: Add a background color to make it visible */
  border-radius: 50%; /* This makes it a circle */
}

.small_circle {
  width: 10px;
  height: 10px;
}

.big_circle {
  width: 25px;
  height: 25px;
}

.eraser_wrapper {
  width: 50px;
  margin-left: 20%;
}

.eraser {
  max-width: 100%;
  height: auto;
}
