

.canvas_wrapper_div {
    border: 1px solid black;
    width: 400px;
    height: 400px;
    display: block;
    position: relative;
    margin-left: 400px;
    margin-right: 50px;
}


.color_box {
    border: 1px solid black;
    width: 35px;
    height: 35px;
    // background-color: red;
    // margin-left: 500px;
    // padding-top: 10px;
    // padding-bottom: 10px;
    // padding-left: 10px;
    // padding-right: 10px;
    margin: 5px;
    
}

.red_bg {
    background-color: red;
}

.black_bg {
    background-color: black;
}


.green_bg {
    background-color: rgb(6, 150, 51);
}

.color_box_wrapper {
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    height: 90px;
    display: grid;
    grid-template-columns: 5% 5%;
    // gap: 10px;
}

.circle {
  background-color: black; /* Optional: Add a background color to make it visible */
  border-radius: 50%; /* This makes it a circle */
}

.small_circle {
   width: 10px;
   height: 10px;
}

.big_circle {
    width: 25px;
    height: 25px;
}

.eraser_wrapper {
    width: 50px;
    margin-left: 20%;
}

.trash_can {
    max-width: 100%;
    height: auto;

}

.draw_tools_wrapper {
    grid-template-columns: 70% 20% 10%;
    display: grid;
}