body {
    // background-color:#dcdef4;
    
    background-image: url("../assets/background_28p.png");
    direction:rtl;
}

$box_border_color: rgb(31, 10, 96);
$title_font_size: 2em;

// $width:400px;
$height: 400px;


h1 {
    margin: 0 auto;
    text-align: center;
}

.canvas_wrapper_div {    
    //// width: $width;
    height: $height;
    display: block;
    position: relative;
    
    background-color: white;
}
.title
{
    font-family: arial;
    font-size: $title_font_size;
    text-align: center;
}

.color_box {
    border: 1px solid black;
    width: 1em;
    height: 1em;
    // background-color: red;
    // margin-left: 500px;
    // padding-top: 10px;
    // padding-bottom: 10px;
    // padding-left: 10px;
    // padding-right: 10px;
    
}

.red_bg {
    background-color: red;
}

.black_bg {
    background-color: black;
}


.green_bg {
    background-color: rgb(6, 150, 51);
}

.blue_bg {
    background-color: rgb(31, 10, 188);
}

.yellow_bg {
    background-color: yellow;
}


.orange_bg {
    background-color: orange;
}

.color_box_wrapper {
    // margin-top: 20px;

    display: grid;

    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    // width: 100%;
    
    grid-row-gap: 0.2em;
    grid-column-gap: 0.2em;
    align-content: start;
    // gap: 10px;
}

.circle {
  background-color: black; /* Optional: Add a background color to make it visible */
  border-radius: 50%; /* This makes it a circle */
}

.small_circle {
   width: 10px;
   height: 10px;
}

.big_circle {
    width: 25px;
    height: 25px;
}



.scroll_history_wheel {
    flex-grow: 1;        /* Takes up all available space */
    overflow-y: auto;    /* Adds the scroll wheel */
    overflow-x: hidden;
    padding-bottom: 20px; /* This creates the "gap" you wanted at the bottom */
    border-bottom: 1px solid #ccc; /* Separator between chat and input */
         display: flex;
    flex-direction: column;
}

.trash_can {
    width:4em;
    height: auto;

}

.logo {
    width: 20%;
    height: auto;
}

.logo_wrapper_div {
    display: flex;
    justify-content: center;
}

.draw_tools_wrapper {
    grid-template-columns: 17% 43% 40%;
    display: grid;
    align-items: center;
    justify-items: start;
    // margin:0 auto;
    ////width: $width;
    // display: flex;
    // flex-wrap: wrap;
    // gap: 0.5em;

}

.server_message {
    color: rgb(0, 0, 0);
    background-color: rgb(241, 233, 14);
    align-self: flex-end;
}

.my_message_in_chat {
    color: rgb(23, 101, 237)
    
}

.not_my_message_in_chat_sender_title {
     align-self: flex-end;
     padding-left: 1em;
}

.correct_guess {
    color: rgb(66, 246, 46);
    background-color: rgb(106, 106, 195);
    align-self: flex-end;
}

.reveal_word {
    color: rgb(164, 6, 112);
    background-color: rgb(106, 106, 195);
    align-self: flex-end;
}


.row_break {
    width: 100%;
}

.start_game_button {
    width: 9em;
    height: 3.5em;
    background-color: rgb(23, 222, 23);
    
}

.brushes_wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.sw_button {
    cursor: pointer;
}

.chat_box_wrapper {    
    ////width: $width;
    height: $height;
    display: flex;
    flex-direction: column;
    overflow: hidden;
   
}

.chat_input {
    width: 94%;
    min-height: 6%;
    margin: 0.2em;
    /* Aligns the bottom edge of the child with the bottom edge of the parent */
    bottom: 0.5em;
    flex-shrink: 0;
    /* Optional: ensures the child spans the full width */
    
}

.box
{
    border: 0.2em solid $box_border_color;
    padding: 0.4em;
}

.chat_box_wrapper 
{
    background-color:white;
}

.chat_history_message {
    

    margin-left: 0.3em;
    font-size: 1.1em;    
    border-radius: 1em;
    margin-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 0.3em;
    padding-top: 0.3em;
    width:70%;

}

.my_message_in_chat
{
    background-color: white;

}

.peer_chat_history_message
{
    background-color: rgb(161, 161, 255);
    align-self: flex-end;
}

.sivuv_counter_wrapper
{
    display: flex;
    justify-content: center;
}

.sivuv_counter_placeholder
{
    align-self: center;
    font-size: $title_font_size;
    font-family: Arial;
}

#canvas-and-chat-wrapper-div {
    display: grid;
    grid-template-columns: 25% 45% 30%;
    width: 1200px;
    grid-column-gap: 0.5em;
    grid-row-gap: 0.5em;
    margin: 0 auto;
    margin-top:2em;

}

#chat-wrapper {
    ////width: $width * 0.75;
    height: $height ;
    background-color: #b4b8df;
    position: relative;
    display: flex;
    flex-direction: column;
    
    //padding: 1em;
}